body{
    
    margin:0;
    font-family: 'Lato', sans-serif;
    background-color: #f8f8f8;
}

.mainHeader{

    text-align: center;color: white;background-color: #ff8d29;
        
    padding-bottom: 5px;
}

.noteLogo{

position: absolute;
    top: 5;
    left: 0;
    font-size: 50px;

}

.mainHeader h1{
    padding-top: 15px;
}

.mainHeader p{
    padding-top: 15px;
}



.icon{
    
    font-size: 35px;
    
}

.inst{

     position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
    

}

.action-btn{
    
    text-align: center;
    color: #ff8d29;
    border-radius: 90px;
    background-color: whitesmoke;
   	box-shadow: 2px 2px 3px #999;
    width:60px;
    height:60px;
    position: fixed;
    bottom: 60px;
    right:90px;
    border-style: none;
}


.github{

    position: absolute;
    top: 0;
    right: 0;

}

p{
    
    word-wrap: break-word;  
    
}


.note{
    
    vertical-align: top; 
    display: inline-block;
    z-index: 9;
    width:250px;
    background-color:white;
    text-align:center;
    border-radius: 15px;    
    overflow: hidden;

    margin-right: 20px;
    margin-bottom: 16px;
    -webkit-box-shadow: -4px 6px 15px -8px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 6px 15px -8px rgba(0,0,0,0.75);
box-shadow: -4px 6px 15px -8px rgba(0,0,0,0.75);
    
}

.divhead{

    
    padding: 13px;
    cursor: move;
    z-index: 10;
    border-bottom:solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgrey;
    color:black;

}

.title{
    
    margin-left: 1px;
    min-height: 50px;
    width: 100%;
    border-style:none;
    border-bottom: solid;
    border-bottom-color:gainsboro;
    border-bottom-width: 1;
    background-color: white;

    
}


.desc{
    
height: 170px;
background-color:white;  
border-style:none;
width: 100%;
}




#main{

    margin-top: 4%;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    -moz-column-gap: 1.2em;
    -webkit-column-gap: 1.2em;
    column-gap: 1.2em;
    
}

.add-btn{
   
    border-style: none;
    color:transparent;
  background-color: #ff8d29;
    width:100%;
    height:45px;
    bottom: 0;
    
}

.add-btn-icon{

    color: white;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}




.action-btn{
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    
}

.btn{

border-style:none;
    background-color: transparent;

}




@media only screen and (max-width: 1200px) {
  
    #main{

 
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 1.2em;
    -webkit-column-gap: 1.2em;
    column-gap: 1.2em;
    
}
    
    
}


@media only screen and (max-width: 950px) {
  
    #main{

 
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 1.2em;
    -webkit-column-gap: 1.2em;
    column-gap: 1.2em;
}
    .note{

        vertical-align: middle;
        width:230px;
    }
    .action-btn{
    

    right:20px;
  
}

    
.desc{
    
height: 130px;

}
    
}

@media only screen and (max-width: 540px) {
  
    #main{

         -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    -moz-column-gap: 1.2em;
    -webkit-column-gap: 1.2em;
    column-gap: 1.2em;
        text-align: center;
    
}
    
    .note{
        
    vertical-align: middle;
    

    }
    
    
.action-btn{
    

    right:15px;
  
}

    
}









