body{
    
    margin:0;
    font-family: sans-serif;
       background-color: #23B5D3;
    
}




.action-btn{
    
    font-size: 10px;
    text-align: center;
    color: #23B5D3;
    border-radius: 90px;
    background-color: whitesmoke;
   	box-shadow: 2px 2px 3px #999;
    width:60px;
    height:60px;
    position: fixed;
    left:90%;
    top:85%;
    
   
}




p{
    
    word-wrap: break-word;  
    
}


.note{
    
    
    width:250px;
    height: 250px;
    background-color:whitesmoke;
    text-align:center;
    border-style:solid;
    border-width: thin;
    border-radius: 15px;
    border-color:#23B5D3; 
    box-shadow:  2px 2px 3px #999;
    overflow:hidden;
}

.title{
    min-height: 50px;
    border-style:none;
    border-bottom: solid;
    border-bottom-color:gainsboro;
    background-color:whitesmoke;
    
}


.desc{
    
min-height: 170px;
     background-color:whitesmoke;  
    border-style:none;
}








#main{
    
    margin-top: 4%;
   
    width:90%;
    margin-left: auto;
    margin-right: auto;
     display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
     justify-items:center;
    
}


button{
   
    color:#23B5D3;
    border-style: solid;
    border-color:whitesmoke;
    border-width: thin;
    background-color: whitesmoke;
    width:100%;
    height:25px;
    margin-bottom: 0;
    
}




.action-btn{
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    
}









